html, body {
		width: 100%
		height: 100%;
}
body {
	background-image: url(talesback.png);
	width:100%;
    background-size: 100%;
    background-repeat: repeat;
}
p {
	color: white;
}
a:link, a:visited {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #FCE562;
}

.box1 {
	background-color: black;
	width: 200px;
	height:50px;position: absolute;
	top: 50%;
	left: 50%;
	padding: 20px;
	text-align: center;
	margin: -70px 0 0 -120px;
	transition: width 4s, height 2s;
}
.box1: hover {
	width: 1300px;
	height: 740px;

}



